body {
  background-color: DarkViolet;
  font-family: helvetica;
}

h1 {
  color: Cyan;
  font-family: Arial;
  font-size: 25px;
  text-align: center;
}

p {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

h2 {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

h3 {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}


h4 {
  color: white;
  font-family: Arial;
  font-size: 16 px;
  text-align: right;
  font-weight: normal;
  float: right;

}
h5 {
  background-color: #0B0719;
  color: Cyan;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}
<style>
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  float: snap-block;
}


nav {
  display:flex;
  justify-content: center;
  background-color: #0B0719;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li{
  padding: 10px;
}

nav a{
  color: Cyan;
  background-color: #0B0719
  text-decoration: none;
}
ul {
}

iframe {
  text-align: center;
}
