body {
  background-color: DarkViolet;
  font-family: helvetica;
}

h1 {
  color: Cyan;
  font-family: Arial;
  font-size: 25px;
  text-align: center;
}

p {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

h2 {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

h3 {
  color: white;
  font-family: Arial;
  font-size: 14px;
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

nav {
  display:flex;
  justify-content: center;
  background-color: #efefef;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li{
  padding: 10px;
}

nav a.active {
  background-color: #efefef;
  color: black;
}

nav a{
  color: #000;
  text-decoration: none;
}
ul {

}
